In [ ]:
import os
import io
import json
from datetime import date, datetime, timedelta

import matplotlib.pyplot as plt

import seaborn as sns

import boto3
from botocore.config import Config
from botocore.exceptions import ClientError

import requests
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

import joblib

import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

# Metricas
from sklearn.metrics import jaccard_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve

import pandas as pd
from datetime import date, datetime
from decimal import Decimal, ROUND_HALF_UP


import io
import boto3
import pyarrow as pa
import pyarrow.parquet as pq
import io
import boto3
import requests
import pyarrow as pa
import pyarrow.parquet as pq
from typing import List, Dict, Any

import io
from typing import List, Optional
import boto3
import pyarrow.parquet as pq
import pandas as pd

import io
from typing import List, Dict
import boto3
import pyarrow.parquet as pq

import io
from typing import List, Dict
import boto3
import pyarrow.parquet as pq

pd.set_option("display.max_rows", 3)
pd.set_option("display.max_columns", None)

In [ ]:
BUKECT_NAME = "dai03rt-proyecto"
ACCESS_KEY_ID = "AKIAWZEDMKF3SHFDRH3B"
SECRET_KEY = "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"
REGION = "eu-west-1"
ACCESS_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MDkxNGNiOTI5OTI2OGM1ZWQ2NjcxN2UyYmM5MzkyNyIsIm5iZiI6MTc1Njk3NTgxMS41NzMsInN1YiI6IjY4Yjk1MmMzNDYwNDI1OGMwNThjZGM1ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.T-AD7PBLVI5hKAyYiHrheP1xhlGpIBZxJVJq_WlzsGM"
BASE = "https://api.themoviedb.org/3"

In [ ]:
s3 = boto3.client("s3",
                  aws_access_key_id = ACCESS_KEY_ID,
                  aws_secret_access_key = SECRET_KEY,
                  region_name=REGION) 
lambda_ = boto3.client("lambda",
                  aws_access_key_id = ACCESS_KEY_ID,
                  aws_secret_access_key = SECRET_KEY,
                  region_name=REGION)

## TMDB API

Para el recopilado de datos usaremos las siguientes enpoints de TMDB:

- #### DISCOVER: https://api.themoviedb.org/3/discover/movie
    * Esta endpoints nos da una lista de peliculas aleatorias determinando una variedad de filtros
    * Nuestro modelo ha sido entrenado con peliculas de hace 20 años, por lo que nuestro fitro debe ser ese rango de fechas
    * De esta lista solo nos interesa el **ID** de cada pelicula ya que necesitamos usar otro endpoint para conseguir toda la info necesaria de cada peli
    * Toda la información es paginada asi que por ese rango de fechas la request no da la info, solo de la primera pagina, teniendo que hacer una request por cada pagina restante hasta alcanzar el nº max_pages de esa request especifica

>**PROBLEMA:**La propia API nos trunquea todas aquellas paginas por encima del numero 500, por lo que nos obliga a que nuestro rango de fechas nunca produzca una request con un numero de paginas superior. Debido a esto hemos tenido que crear unos rangos de fechas especificos, que partimos en request con un step determinado, uno para cada rango. Esto se debe a que la producción de las peliculas es una distribución compleja

- #### DETAILS_MOVIES: https://api.themoviedb.org/3/movie/{movie_id}
    * Una vez tenemos todos los ids de nuestras peliculas, haremos una peticion a este endpoint por cada id
    * Ahora si tenemos toda la info encesaria como, los actores qeu ahn trabajado en la peli, los generos, el presupuesto, la recaudación, etc

- #### DETAILS_ACTORS https://api.themoviedb.org/3/person/{person_id}
    * Con los ids de los actores recopilados gracias a la anterior url, podemos generar una lista, sin actores repetidos, de los ids de cada actor para buscar sus detalles
    * Debido a esto nuestro flujo simpre necesita primero conocer los detalles de las paliculas antes de conocer los detalles de cada actor

- #### GENRE_LIST https://api.themoviedb.org/3/genre/movie/list
    * En esta enpoint recogemos todos los generos posibles que pueden tener las peliculas
    * Cabe recordar que una pelicula puede tener varios generos, y que un genero puede encontrarse en varios peliculas por supuesto

## LAMBDAS

![Alt](./img/lambdas.png "Propiedades del BUCKET")

- init_tmdb: funcion que crea en nuestra instancia RDS la base de datos y el usuario que la gestiona
- create_tables_tmdb: funcion que crea la estructura de la base de datos
- funcion_diaria: funcion de recogida y guardado de nuevos datos cada dia
- send_query: funcion para ejecutar queries de tipo DML, en concreto generadoras de vistas
- funcion_inicial: funcion de carga incial de peliculas
- insert_data_tmdb: se encarga de ejecutar querys DML de tipo insert para rellenar nuestras tablas

In [ ]:

def invoke_lambda_inicial(payload: dict, async_: bool = False):
    """Invoca la lambda con el payload dado (sync por defecto)."""
    resp = lambda_.invoke(
        FunctionName="funcion_inicial",
        InvocationType="Event" if async_ else "RequestResponse",
        Payload=json.dumps(payload).encode("utf-8"),
    )
    if async_:
        print("✔ Invocación async enviada.")
        return None
    print("HTTP Status:", resp.get("StatusCode"))
    body = resp.get("Payload").read().decode("utf-8")
    try:
        print("Respuesta Lambda:", json.loads(body))
    except Exception:
        print("Respuesta Lambda (raw):", body)

## Listar funciones Lambda existentes
def listar_funciones():
    response = lambda_.list_functions()
    for f in response['Functions']:
        print(f"{f['FunctionName']} | Runtime: {f['Runtime']} | Última modif: {f['LastModified']}")
        
def invocar_lambda(nombre_funcion, payload={}, async_mode=False):
    try:
        return lambda_.invoke(
            FunctionName=nombre_funcion,
            InvocationType='Event' if async_mode else 'RequestResponse',
            Payload=json.dumps(payload).encode("utf-8"),
        )
    except ClientError as e:
        print(f"Error: {e}")
        return None

In [ ]:
listar_funciones()

## SUBIDA DE DATOS A S3

In [ ]:
# Funciones de subida:
# funcion lambda: funcion_inicial tambien es una función de subida
def save_actor_ids_parquet_to_s3(
    actor_ids,
    *,
    key: str = "inputs/actors_ids.parquet",  
    compression: str = "snappy"              
) -> dict:
    table = pa.Table.from_pydict({"actor_id": [int(x) for x in actor_ids if x is not None]})
    buf = io.BytesIO()
    pq.write_table(table, buf, compression=compression)
    buf.seek(0)

    s3.put_object(Bucket=BUKECT_NAME, Key=key, Body=buf.getvalue(), ContentType="application/octet-stream")
    return {"bucket": BUKECT_NAME, "key": key}


def save_genres_list_parquet_into_s3(
    *,
    key: str = "initial_load/genres/genres.parquet",
    language: str = "es-ES",
    compression: str = "gzip"  # usa "snappy" si lo tienes instalado
) -> dict:
    # 1) Request único a TMDB
    url = f"{BASE}/genre/movie/list"
    r = requests.get(
        url,
        headers={"accept": "application/json", "Authorization": f"Bearer {ACCESS_TOKEN}"},
        params={"language": language},
        timeout=20,
    )
    r.raise_for_status()
    
    genres = r.json().get("genres", [])
    
    if not isinstance(genres, list):
        raise ValueError("TMDB no devolvió 'genres' como lista")

    # 2) Parquet con el objeto tal cual (lista de dicts con id y name)
    table = pa.Table.from_pylist(genres)  # sin tocar los campos
    buf = io.BytesIO()
    pq.write_table(table, buf, compression=compression)
    buf.seek(0)

    # 3) Subir a S3
    s3.put_object(Bucket=BUKECT_NAME, Key=key, Body=buf.getvalue(), ContentType="application/octet-stream")

    return {"bucket": BUKECT_NAME, "key": key, "count": len(genres), "genres": genres}

In [ ]:
# Funciones de bajada de s3
# funciones auxiliares para cargar los datos de s3

def load_all_actors_from_s3(
    prefix: str = "initial_load/actors/",

) -> List[Dict]:

    # 1) Listar todas las keys .parquet (con paginación)
    keys: List[str] = []
    paginator = s3.get_paginator("list_objects_v2")
    for page in paginator.paginate(Bucket=BUKECT_NAME, Prefix=prefix.rstrip("/") + "/"):
        for obj in page.get("Contents", []):
            k = obj["Key"]
            if k.endswith(".parquet"):
                keys.append(k)
    keys.sort()

    if not keys:
        return []

    # 2) Leer y acumular todas las filas como dicts
    all_rows: List[Dict] = []
    for k in keys:
        body = s3.get_object(Bucket=BUKECT_NAME, Key=k)["Body"].read()
        table = pq.read_table(io.BytesIO(body))
        for batch in table.to_batches():
            all_rows.extend(batch.to_pylist())

    return all_rows

def load_all_genres_from_s3():
    records: list[dict] = []
    body = s3.get_object(Bucket=BUKECT_NAME, Key="initial_load/genres/genres.parquet")["Body"].read()
    table = pq.read_table(io.BytesIO(body))
    records.extend(table.to_pylist()) 
    return records

def load_all_movies_from_s3(prefix_root: str = "initial_load/movies/") -> list[dict]:
    prefix = prefix_root.rstrip("/") + "/"

    # Listar todas las claves .parquet bajo el prefijo
    keys = []
    paginator = s3.get_paginator("list_objects_v2")
    for page in paginator.paginate(Bucket=BUKECT_NAME, Prefix=prefix):
        for obj in page.get("Contents", []):
            k = obj["Key"]
            if k.endswith(".parquet"):
                keys.append(k)

    keys.sort()  # lectura determinista (opcional)

    # Cargar y acumular
    records: list[dict] = []
    for key in keys:
        body = s3.get_object(Bucket=BUKECT_NAME, Key=key)["Body"].read()
        table = pq.read_table(io.BytesIO(body))
        records.extend(table.to_pylist())  # lista de dicts por fila

    return records

def get_actors_id_from_list_long(rows: List[Dict[str, Any]], credits_col: str = "credits") -> List[int]:
    """
    Extrae IDs únicos de actores desde una lista de diccionarios (filas).
    Cada fila debe tener la clave 'credits' con un dict que contenga 'cast'.
    """
    all_ids = []
    for row in rows:
        entry = row.get(credits_col)
        if isinstance(entry, dict) and "cast" in entry:
            for actor in entry["cast"]:
                if isinstance(actor, dict) and "id" in actor:
                    all_ids.append(actor["id"])

    # Elimina duplicados preservando orden
    seen = set()
    unique_ids = []
    for actor_id in all_ids:
        if actor_id not in seen:
            seen.add(actor_id)
            unique_ids.append(actor_id)

    return unique_ids

## 1. Subimos los datos de las todas las peliculas de hace 20 años:

#### funcion_inicial

Se encarga de conseguir todos los ids de las peliculas en un rango de fechas
- Por ejemplo las fechas 2005, 1, 1 hasta 2010, 12, 31
- Este rango se partirá a su vez en en rangos de fechas mas pequeños con la longitud marcada por el step, en este caso 182 días.
- Estos nuevos rangos los lllamamos ventantas y represenan la agrupacion de fechas entre 2005, 1, 1 hasta 2010, 12, 31, pero con una longitud de 182 (a excepcion de la última que no suele coincidir un step perfecto)
- En cada ventana tenemos un nuemor de paginas totales
- En cada pagina tenemos 20 peliculas
- Cuando tenemos todos los ids de todas las paginas de una ventana, se hara un request a details de movies y cuando hayamos conseguido los detalles de todas las peliculas de todas las paginas de esa ventana en concreto se guardara un archvio en s3 con los detalles de las (20xN_paginas_totales) peliculas

In [ ]:
rangos_step = [
    (date(2005, 1, 1),  date(2010, 12, 31), 182),
    (date(2011, 1, 1),  date(2013, 9, 16),  120),
    (date(2013, 9, 17), date(2014, 1, 6),   100),
    (date(2014, 1, 7),  date(2015, 12, 31), 110),
    (date(2016, 1, 1),  date(2021, 12, 31), 70),
    (date(2022, 1, 1),  date(2024, 10, 16), 60),
    (date(2024, 10, 17),date(2024, 12, 16), 30),
    (date(2024, 12, 17),date.today(),       60),
]

date_range_n = 0
for f_incial, f_final, step in rangos_step:
    date_range_n += 1
    f_from = f_incial.strftime("%Y-%m-%d")
    f_to = f_final.strftime("%Y-%m-%d")
    payload = {
        "from": f_from,
        "to":   f_to,
        "step_days": step,
        "date_range_idx": date_range_n
    }
    invoke_lambda_inicial(payload, async_=True)
    
# Datos de las peliculas subidos ahora en s3

## 2. Subimos los ids de los actores
- Necesitmaos subir los ids de todos lso actores a s3, para despues subir todos los detalles de los actores con esos ids. 
- Los ids se guardan en ***input/actors_ids.parquet***
- Con la lista de ids en s3 ejecutamos 


>NOTA: es necesario que la lista de ids este en s3 y no en memoria por ejemplo para que la lambda no se corte por tardar mucho en su ejecución

In [ ]:
actors_ids = get_actors_id_from_list_long(load_all_movies_from_s3())
len(actors_ids)

In [ ]:
# 1) Guardar la lista en S3
ref = save_actor_ids_parquet_to_s3(
    actors_ids,
    key="inputs/actors_ids.parquet"           # <- esta ruta es la que usará la Lambda
)
ref

# Los ids de actores que salen en nuestras peliculas se han guardado correctamente

## 3. Subimos la data (detalles) de los actores

#### load_actors_into_s3

- Esta función recibe una lista de ids de actores
- Hace una peticion a la API tmbd para conseguir los detalles de cada actor diferente
- Guarda la informacion en uno o varios documentos en ***intial_load/actors/job_20250922/X_actors.parquet***

In [ ]:
# 2) Invocar la Lambda para que lea esos IDs y procese
payload = {
    "ids_s3":ref,
    "start_at": 0,
    "part_index": 1,
    "s3_prefix": "initial_load/actors/job_20250922",
    "return_saved_keys": True
}

invocar_lambda(nombre_funcion="load_actors_into_s3", payload=payload, async_mode=True)

# La data en detalle de cada uno de los actores esta en s3 ahora

## 4. Subimos la pequeña lista de genres
- Como se trata de una request unicamente, no es necesario una lambda
- La lista que nos devuevle la request es muy pequeña asi que la podemos subir a s3 en la misma funcion
- Se guardara en ***initial_load/genres/genres.parquet***

In [ ]:
resp = save_genres_list_parquet_into_s3()
resp
# Ahora tenemos los datos de la lista de géneros de películas en s3

# ESTRUCTURA DE s3

### s3://dai03rt-proyecto


<pre style="font-size:12px; line-height:1.25; white-space:pre;">
├── inputs/
│   └── actors_ids.parquet
│       └── Lista de IDs de actores (Parquet, col: actor_id).
│          Fuente: subida manual desde local para alimentar la Lambda de actores.
│
└── initial_load/
    ├── movies/
    │   └── date_range_<N>/
    │       └── ventana_<N>/
    │           └── <part_index>_movies.parquet
    │               └── Detalles de películas (discover + details) por rangos de fechas/ventanas.
    │                  Fuente: Lambda de “discover movie + details” con paginación y auto-resume.
    │
    ├── actors/
    │   ├── <part_index>_actors.parquet            (cuando no se usa s3_prefix “job_*”)
    │   └── job_YYYYMMDD/
    │       └── <part_index>_actors.parquet
    │           └── Detalles de personas (/person/{id}) descargados por lotes.
    │              Fuente: Lambda `load_actors_into_s3` leyendo IDs (de payload o de S3).
    │              Particionado por “part_index”; puede haber múltiples ficheros por reintentos/timebox.
    │
    └── genres/
        └── genres.parquet
            └── Catálogo de géneros de TMDB (/genre/movie/list), ~20 filas, cols: id, name.
            └── Fuente: script local que hace 1 request y sube el Parquet.
</pre>

## CARGA DE DATOS desde S3

Conseguidas todas las peliculas, rescatamos los actores por pelicula para llamar a la función save_all_actors con la lista de ids de atores construida a partir de toda la info de películas

In [ ]:
GENRES_DATA = load_all_genres_from_s3()
GENRES_DATA

In [ ]:
MOVIES_DATA = load_all_movies_from_s3()
MOVIES_DATA

In [ ]:
ACTORS_DATA = load_all_actors_from_s3()
ACTORS_DATA

## RDS: Preparación de la instancia RDS

![Alt](./img/rds.png "Propiedades del RDS")

Antes de empezar a usar nuestra instancia de RDS necesitamos:
- Crear la base de datos y un usuario que la vaya gestionar
- Crear la estructura de las tablas y sus relaciones
- Insertar todos los datos inciales (Guardados en s3 __initial_load/*/__) 
- Insertar o modificar los nuevos datos (Guardados en dayly/movies)

### RDS.1 Primero inicializamos nuestra base de datos

DOCUMENTACION: **./lambdas/init_tmdb**

Para ello llamamos a la LAMBDA __"init_tmdb"__ que hace lo siguinte:

- Creamos una base de datos "tmdb" 
- Creamos un usuario "user" que será el que maneje las tablas
    * Este usuario **NO** podrá eliminar la base de datos por seguridad
    * Podrá crear nuevas tablas y borrarlas pero nunca la base de datos entera

In [ ]:
resp = invocar_lambda(nombre_funcion="init_tmdb")
json.loads(resp.get("Payload").read().decode("utf-8"))

### RDS.2 Creamos la estrucutura de nuestra base de datos:

DOCUMENTACION: **./lambdas/create_tables_tmdb**

![Alt](./img/tmdb_schema.webp "Propiedades del RDS")

Llmamaos a la LAMBDA __"create_tables_tmdb"__. Creación de las tablas y de sus relaciones, la lambda ejecuta un archivo .sql guardado en el propio codigo de la lambda.

Este es es archivo: 

```sql
-- SCHEMA: tmdb (tablas en 'public')

-- TABLE: movies
CREATE TABLE IF NOT EXISTS public.movies (
    id              INTEGER PRIMARY KEY,                      -- TMDB movie id (manual)
    title           TEXT NOT NULL,
    popularity      REAL,                                     -- float4
    vote_average    NUMERIC(3,1) 
    CHECK (vote_average >= 0 AND vote_average <= 10),     -- 0.0..10.0
    runtime         SMALLINT CHECK (runtime >= 0),            -- minutos
    budget          BIGINT CHECK (budget  >= 0),              -- entero (unidades monetarias)
    revenue         BIGINT CHECK (revenue >= 0),
    overview        TEXT,
    release_date    DATE,
    success         BOOLEAN
);

CREATE INDEX IF NOT EXISTS idx_movies_release_date ON public.movies (release_date);
CREATE INDEX IF NOT EXISTS idx_movies_popularity  ON public.movies (popularity);
CREATE INDEX IF NOT EXISTS idx_movies_title_lower ON public.movies (lower(title));

-- TABLE: actors (cast)
CREATE TABLE IF NOT EXISTS public.actors (
    id          INTEGER PRIMARY KEY,                          
    name        TEXT NOT NULL,
    age         SMALLINT CHECK (age IS NULL OR (age BETWEEN 0 AND 150)),
    gender      TEXT CHECK (gender IN ('Not set', 'Female', 'Male', 'Non-binary')),
    popularity  REAL
);

CREATE INDEX IF NOT EXISTS idx_actors_name_lower ON public.actors (lower(name));
CREATE INDEX IF NOT EXISTS idx_actors_popularity ON public.actors (popularity);


-- TABLE: genres
CREATE TABLE IF NOT EXISTS public.genres (
    id      INTEGER PRIMARY KEY,          -- TMDB genre id (manual)
    name    TEXT NOT NULL UNIQUE
);

-- TABLE: movie_actors  (credits → cast, relación N:M)
CREATE TABLE IF NOT EXISTS public.movie_actors (
    movie_id INTEGER NOT NULL REFERENCES public.movies(id) ON DELETE CASCADE,
    actor_id INTEGER NOT NULL REFERENCES public.actors(id) ON DELETE CASCADE,
    PRIMARY KEY (movie_id, actor_id)
);

-- TABLE: movie_genres  (genres, relación N:M)
CREATE TABLE IF NOT EXISTS public.movie_genres (
    movie_id INTEGER NOT NULL REFERENCES public.movies(id) ON DELETE CASCADE,
    genre_id INTEGER NOT NULL REFERENCES public.genres(id) ON DELETE CASCADE,
    PRIMARY KEY (movie_id, genre_id)
);

CREATE INDEX IF NOT EXISTS idx_movie_actors_actor ON public.movie_actors (actor_id);
CREATE INDEX IF NOT EXISTS idx_movie_genres_genre ON public.movie_genres (genre_id);
```

>**Nota:** Importante el orden de creación de las tablas, debido a la definción de sus relaciones

In [ ]:
resp = invocar_lambda(nombre_funcion="create_tables_tmdb")
tables = json.loads(resp.get("Payload").read().decode("utf-8"))["structure"]

Revisamos que las estrcuturas creadas han sido las correctas

Para la tabla __actors__

In [ ]:
pd.DataFrame(tables["actors"])

Para la tabla __movies__

In [ ]:
pd.DataFrame(tables["movies"])

Para la tabla __movies__

In [ ]:
pd.DataFrame(tables["genres"])

Para la tabla __movie_actors__

In [ ]:
pd.DataFrame(tables["movie_actors"])

Para la tabla __movie_genres__

In [ ]:
pd.DataFrame(tables["movie_genres"])

### RDS.3 Insertamos los datos guardados en S3

DOCUMENTACION: **./lambdas/insert_data_tmdb**

Por lo tanto debemos hacer una limpieza de datos guardados en S3, para insertarlos en nuestras tablas SQL

>##### Funciones de limpieza S3 -> limpeza -> RDS (sql)

In [ ]:
def _add_success_column(df):
    df_original = df.copy()
    if 'revenue' in df.columns and 'budget' in df.columns:
        df["success"] = (df_original["revenue"] > df_original["budget"]) & (df_original["vote_average"] > 7)
    else:
        raise ValueError("El DataFrame debe contener las columnas 'revenue' y 'budget'")
    return df

def movies_sql(df):
    df_movies_original = df.copy()
    df = df_movies_original[["id", "title","popularity", "vote_average", "runtime", "budget", "revenue", "overview", "genres", "credits", "release_date"]]
    df["credits"] = [_get_values_for_row(credits["cast"], "id") for credits in df_movies_original["credits"]]
    df["genres"] = [_get_values_for_row(genres, "id") for genres in df_movies_original["genres"]]
    df = _add_success_column(df)
    #df = impute_with_median(df)
    return df

def prepare_table_for_ia(df):
    return  df[["popularity","vote_average","runtime","budget", "succes"]]

# Para las columnas de CREDITS y GENRES donde nos vienen la información que relaciona la
# tabla películas con actores y generos
def _get_values_for_row(items, column_name):
    return [item.get(column_name) for item in items if isinstance(item, dict) and column_name in item]

def movie_genres_sql(df: pd.DataFrame) -> pd.DataFrame:
    df_exploded = df[["id", "genres"]].copy()
    return (
        df_exploded
        .explode("genres")
        .dropna(subset=["genres"])
        .rename(columns={"id": "movie_id", "genres": "genre_id"})
        .drop_duplicates(ignore_index=True)
        .reset_index(drop=True)
        .astype({"movie_id": "int64", "genre_id": "int64"})
    )
def movie_actors_sql(df: pd.DataFrame) -> pd.DataFrame:
    df_exploded = df[["id", "credits"]].copy()
    return (
        df_exploded
        .explode("credits")                          # cada actor en fila propia
        .dropna(subset=["credits"])                  # elimina None/NaN
        .rename(columns={"id": "movie_id", "credits": "actor_id"})
        .astype({"movie_id": "int64", "actor_id": "int64"})
        .drop_duplicates(ignore_index=True)          # clave primaria (movie_id, actor_id)
        .reset_index(drop=True)
    )

def compute_actor_age(birthday: str | None, deathday: str | None) -> int | None:
    if not birthday or pd.isna(birthday) or birthday == "None":
        return None   # no se conoce la edad

    try:
        birth_date = datetime.strptime(str(birthday)[:10], "%Y-%m-%d").date()
    except Exception:
        return None

    if deathday and deathday != "None" and not pd.isna(deathday):
        try:
            end_date = datetime.strptime(str(deathday)[:10], "%Y-%m-%d").date()
        except Exception:
            end_date = date.today()
    else:
        end_date = date.today()

    age = end_date.year - birth_date.year - (
        (end_date.month, end_date.day) < (birth_date.month, birth_date.day)
    )

    return age if age >= 0 else None

def map_actor_gender(df: pd.DataFrame, gender_col: str = "gender") -> pd.DataFrame:
    
    mapping = {
        0: "Not set",
        1: "Female",
        2: "Male",
        3: "Non-binary"
    }
    df = df.copy()
    df[gender_col] = df[gender_col].replace(mapping)
    return df

def clean_actors(df: pd.DataFrame):
    toret = df[["id","name",  "birthday", "deathday", "gender", "popularity"]]
    toret["age"] = df.apply(
        lambda r: compute_actor_age(r["birthday"], r["deathday"]),
        axis=1
    )
    toret = toret.drop(columns=["birthday", "deathday"])
    toret = map_actor_gender(toret)
    return toret

#### Primero de todo vemos como es estructura de los datos cargados desde S3

In [ ]:
df_movies_s3 = pd.DataFrame(MOVIES_DATA)
df_movies_s3

In [ ]:
df_actors_s3 = pd.DataFrame(ACTORS_DATA)
df_actors_s3

In [ ]:
df_genres_s3 = pd.DataFrame(GENRES_DATA)
df_genres_s3

# !Esta perfecto no hay que hacerle nada, podemos guardar sus datos asi en RDS

#### Preparamos ***df_movies***
A partir del data frame que generamos con la info que se enceuntra en s3 de las peliculas, generamos un dataframe limpio con la misma estructura que las tablas de sql. 

- Transormamos las columnas de credit y de genres a una lista de ids unicamente
- Nos quedamos con las columnas de la que necesitamos para la base  de datos
- Le añadimos la columna succes que será nuestro feature a predecir más adelante
>NOTA: Las columnas de **genres** y **credits** que aun las necesitamos para saber las relaciones.

In [ ]:
df_movies = movies_sql(df_movies_s3)
df_movies

#### Preparamos ***df_movie_genres***
A partir de la columna credist ya formateada con los ids de los actores solo conseguimos la tabla relacional de peliculas actores:

In [ ]:
df_movie_genres = movie_genres_sql(df_movies)
df_movie_genres

#### Preparamos ***df_movie_actors***
A partir de la columna credist ya formateada con los ids de los actores solo conseguimos la tabla relacional de peliculas actores:

In [ ]:
df_movie_actors = movie_actors_sql(df_movies)
df_movie_actors

#### Preparamos ***df_actors***

- Transormamos genre de numero a texto
- Calculamos la edad apartir del día de nacimiento y del día de la muerte (None indica que sigue vivo)
- Nos quedamos con las columnas necesarias para la base de datos

In [ ]:
df_actors = clean_actors(df_actors_s3)
df_actors

#### Preparamos GENRES_DATA

In [ ]:
df_genres = pd.DataFrame(GENRES_DATA)
df_genres

#### Funciones auxiliares (DF pandas -> INSERT sql)

Estas funcionaes nos transforman los data frames que hemos construido, en un insert con sus propios datos para la tabla en la base de datos RDS

In [ ]:
def df_to_movies_insert(df: pd.DataFrame, table: str = "public.movies") -> str:
    required = [
        "id", "title", "popularity", "vote_average", "runtime",
        "budget", "revenue", "overview", "release_date", "success"
    ]
    missing = [c for c in required if c not in df.columns]
    if missing:
        raise ValueError(f"Missing required column(s): {missing}")

    def esc(s: str) -> str:
        # Escape single quotes for SQL strings
        return s.replace("'", "''")

    def fmt_str(s) -> str:
        if pd.isna(s) or s is None:
            return "''"
        return f"'{esc(str(s))}'"

    def fmt_int(x) -> str:
        if pd.isna(x) or x is None:
            return "NULL"
        return str(int(x))

    def fmt_dec(x, decimals: int) -> str:
        # Use Decimal to avoid float artifacts and force fixed decimals
        if pd.isna(x) or x is None:
            return "NULL"
        q = Decimal("1").scaleb(-decimals)  # e.g., decimals=4 -> Decimal('0.0001')
        val = Decimal(str(x)).quantize(q, rounding=ROUND_HALF_UP)
        return f"{val:.{decimals}f}"

    def fmt_date(d) -> str:
        if pd.isna(d) or d is None:
            return "NULL"
        if isinstance(d, (datetime, date)):
            return f"DATE '{d.strftime('%Y-%m-%d')}'"
        s = str(d).strip()
        if not s:
            return "NULL"
        try:
            ymd = s[:10]
            datetime.strptime(ymd, "%Y-%m-%d")
            return f"DATE '{ymd}'"
        except Exception:
            return "NULL"

    def fmt_bool(b) -> str:
        if pd.isna(b) or b is None:
            return "FALSE"
        return "TRUE" if bool(b) else "FALSE"

    values = []
    for _, r in df.iterrows():
        row_sql = (
            fmt_int(r["id"]),                    # id
            fmt_str(r["title"]),                 # title
            fmt_dec(r["popularity"], 4),         # popularity
            fmt_dec(r["vote_average"], 1),       # vote_average
            fmt_int(r["runtime"]),               # runtime
            fmt_int(r["budget"]),                # budget
            fmt_int(r["revenue"]),               # revenue
            fmt_str(r["overview"] if "overview" in r else ""),  # overview
            fmt_date(r["release_date"]),         # release_date
            fmt_bool(r["success"])               # success
        )
        values.append(f"({', '.join(row_sql)})")

    if not values:
        raise ValueError("DataFrame is empty; no rows to insert.")

    head = (
        f"INSERT INTO {table} (\n"
        f"  id, title, popularity, vote_average, runtime, budget, revenue, overview, release_date, success\n"
        f") VALUES\n"
    )
    tail = "\nON CONFLICT (id) DO NOTHING;"
    return head + ",\n".join(values) + tail

def df_to_movie_genres_insert(df: pd.DataFrame, table: str = "public.movie_genres") -> str:
    # Validate columns
    required = {"movie_id", "genre_id"}
    if not required.issubset(df.columns):
        raise ValueError(f"DataFrame must contain columns: {sorted(required)}")

    # Remove rows with nulls and exact duplicates (sane pre-checks for PK (movie_id, genre_id))
    df_clean = (
        df.loc[:, ["movie_id", "genre_id"]]
          .dropna(subset=["movie_id", "genre_id"])
          .drop_duplicates(ignore_index=True)
    )

    if df_clean.empty:
        raise ValueError("DataFrame is empty after cleaning; no rows to insert.")

    # Build VALUES tuples
    values = []
    for _, r in df_clean.iterrows():
        try:
            movie_id = int(r["movie_id"])
            genre_id = int(r["genre_id"])
        except Exception:
            raise ValueError(f"Non-integer IDs found in row: {r.to_dict()}")
        values.append(f"({movie_id}, {genre_id})")

    head = (
        f"INSERT INTO {table} (\n"
        f"  movie_id, genre_id\n"
        f") VALUES\n"
    )
    tail = "\nON CONFLICT DO NOTHING;"

    return head + ",\n".join(values) + tail

def df_to_actors_insert(
    df: pd.DataFrame,
    table: str = "public.actors",
    validate_gender: bool = True,
) -> str:
    required = {"id", "name", "age", "gender", "popularity"}
    if not required.issubset(df.columns):
        raise ValueError(f"DataFrame must contain columns: {sorted(required)}")

    allowed_genders = {"Not set", "Female", "Male", "Non-binary"}

    def esc(s: str) -> str:
        return s.replace("'", "''")

    def fmt_str(s) -> str:
        if pd.isna(s) or s is None:
            return "''"
        return f"'{esc(str(s))}'"

    def fmt_int(x) -> str:
        if pd.isna(x) or x is None:
            return "NULL"
        return str(int(x))

    def fmt_float(x, decimals: int = 4) -> str:
        if pd.isna(x) or x is None:
            return "NULL"
        return f"{float(x):.{decimals}f}"

    def fmt_gender(g) -> str:
        if pd.isna(g) or g is None:
            # si falta, lo tratamos como 'Not set'
            g = "Not set"
        g_str = str(g)
        if validate_gender and g_str not in allowed_genders:
            raise ValueError(
                f"Invalid gender value '{g_str}'. Expected one of {sorted(allowed_genders)}."
            )
        return f"'{esc(g_str)}'"

    values = []
    for _, r in df.iterrows():
        tup = (
            fmt_int(r["id"]),            # id
            fmt_str(r["name"]),          # name
            fmt_int(r["age"]),           # age -> NULL si None/NaN
            fmt_gender(r["gender"]),     # gender como TEXT validado
            fmt_float(r["popularity"], 4)# popularity
        )
        values.append(f"({', '.join(tup)})")

    if not values:
        raise ValueError("DataFrame is empty; no rows to insert.")

    head = (
        f"INSERT INTO {table} (\n"
        f"  id, name, age, gender, popularity\n"
        f") VALUES\n"
    )
    tail = "\nON CONFLICT (id) DO NOTHING;"

    return head + ",\n".join(values) + tail

def df_to_movie_actors_insert(df: pd.DataFrame, table: str = "public.movie_actors") -> str:
    required = {"movie_id", "actor_id"}
    if not required.issubset(df.columns):
        raise ValueError(f"DataFrame must contain columns: {sorted(required)}")

    # Clean duplicates and NaNs
    df_clean = (
        df.loc[:, ["movie_id", "actor_id"]]
          .dropna(subset=["movie_id", "actor_id"])
          .drop_duplicates(ignore_index=True)
    )

    if df_clean.empty:
        raise ValueError("DataFrame is empty after cleaning; no rows to insert.")

    values = []
    for _, r in df_clean.iterrows():
        movie_id = int(r["movie_id"])
        actor_id = int(r["actor_id"])
        values.append(f"({movie_id}, {actor_id})")

    head = (
        f"INSERT INTO {table} (\n"
        f"  movie_id, actor_id\n"
        f") VALUES\n"
    )
    tail = "\nON CONFLICT DO NOTHING;"

    return head + ",\n".join(values) + tail

def df_to_genres_insert(df: pd.DataFrame, table: str = "public.genres") -> str:
    required = {"id", "name"}
    if not required.issubset(df.columns):
        raise ValueError(f"DataFrame must contain columns: {sorted(required)}")

    def esc(s: str) -> str:
        return s.replace("'", "''")

    def fmt_str(s) -> str:
        if pd.isna(s) or s is None:
            return "''"
        return f"'{esc(str(s))}'"

    def fmt_int(x) -> str:
        if pd.isna(x) or x is None:
            return "NULL"
        return str(int(x))

    values = []
    for _, r in df.iterrows():
        tup = (
            fmt_int(r["id"]),       # id
            fmt_str(r["name"]),     # name
        )
        values.append(f"({', '.join(tup)})")

    if not values:
        raise ValueError("DataFrame is empty; no rows to insert.")

    head = f"INSERT INTO {table} (\n  id, name\n) VALUES\n"
    tail = "\nON CONFLICT (id) DO NOTHING;"

    return head + ",\n".join(values) + tail

In [ ]:
insert_genres = df_to_genres_insert(df_genres)
print(insert_genres)

In [ ]:
invocar_lambda("insert_data_tmdb",{"QUERY": insert_genres})

# MODELO Clasificador - ÉXITO / NO ÉXITO

- Regresión Logística
- Metrica de éxito: 1 if revenue > budget and vote_average >= 7 else 0 
- Solo usaremos datos de la tabla movies
- Datos de entrenamiento:
    * ***budget***: lo que ha costado producir la película
    * ***popularity***: lo conocida que ha sido la película, en una medida expresada como float
    * ***runtime***: la duración ne  min de la película
    * ***vote_average***: la votación media que obtuvo la película
- En el procesado de datos al solo usar columnas numéricas tendremos que escalar los datos y rellenar los nulls con la mediana

Nuestros datos ahora se encuentran en nuestra base de datos RDS, por lo utilizaremos esos para entrenar el modelo. Usando la lambda __send_query__ podemos hacer peticiones DML de tipo select.

## Procesamiento de datos pre TRAIN-TEST SPLIT

Vamos a imputar las columnas de aquellas filas donde algun valor sea 0, pero si la fila tiene todos sus valores como 0 la eliminamos.

Imputación con mediana para ser mas robusta a outlayers

In [ ]:
def save_model(clf, scaler):
    payload = {
        "scaler": scaler,            
        "classifier": clf,    
    }
    joblib.dump(payload, "./fast_api/model_and_scaler.joblib")
    
def impute_zeros_with_median(df: pd.DataFrame, column: str, median_value: float) -> pd.DataFrame:
    df[column] = df[column].apply(lambda x: median_value if x == 0 else x)
    return df


def drop_empty_rows(df: pd.DataFrame) -> pd.DataFrame:
    """
    Remove rows where both 'vote_average' and 'budget' are 0.
    """
    mask = ~((df["vote_average"] == 0) & (df["budget"] == 0))
    return df[mask]


def _add_success_column(df):
    df_original = df.copy()
    if 'revenue' in df.columns and 'budget' in df.columns:
        df["success"] = (df_original["revenue"] > df_original["budget"]) & (df_original["vote_average"] > 7)
    else:
        raise ValueError("El DataFrame debe contener las columnas 'revenue' y 'budget'")
    
    df["success"] = [1 if success else 0 for success in df["success"]]
    return df

In [ ]:
data_set = df_movies[["budget", "revenue", "runtime", "vote_average", "popularity"]]
data_set

#### Añadimos la columna de éxito segun la métrica que hemos definido

In [ ]:
data_set = _add_success_column(data_set)
data_set

#### Eliminación de df["revenue"]

Mi métrica se ha calculado a partir de la popularidad, del budget y de revenue, reveneue no la podemos dejar pues sería ***data leakage***, pero las filas donde vote_average y budget sean 0 no nos valen para entrenar.

In [ ]:
data_set = data_set.drop(columns=["revenue"])
data_set

#### Eliminación de las filas sin información

Consideramos filas inútiles si tenien ambas columnas budget y vote_average a 0 **A LA VEZ**. Si solo es una de ellas la imputaremos mas adelante

In [ ]:
data_set = drop_empty_rows(data_set)
data_set

#### Imputación

Calculamos la mediana de cada columna
>IMPORTANTE: NO debemos calcular la mediana con los valores 0, ya que es un sesgo

In [ ]:
MEDIAN_BUDGET = data_set.loc[data_set["budget"] > 0, "budget"].median()
MEDIAN_RUNTIME = data_set.loc[data_set["runtime"] > 0, "runtime"].median()
MEDIAN_VOTE_AVERAGE = data_set.loc[data_set["vote_average"] > 0, "vote_average"].median()
MEDIAN_POPULARITY = data_set.loc[data_set["popularity"] > 0, "popularity"].median()

data_set = impute_zeros_with_median(data_set, "budget", MEDIAN_BUDGET)
data_set = impute_zeros_with_median(data_set, "runtime", MEDIAN_RUNTIME)
data_set = impute_zeros_with_median(data_set, "vote_average", MEDIAN_VOTE_AVERAGE)
data_set = impute_zeros_with_median(data_set, "popularity", MEDIAN_POPULARITY)
data_set

## Procesamiento post TRAIN-TEST SPLIT

Debedio a la gran diferencia de escala de datos necesitamos usar un StandarScaler para nuestro data set

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

X = data_set.drop("success", axis=1)
y = data_set["success"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

# Escalado
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
X_test

### Entrenamiento

In [ ]:
clf = LogisticRegression(random_state=42, max_iter=10_000)

clf.fit(X_train_scaled, y_train)

#### Métricas

In [ ]:
y_pred = clf.predict(X_test_scaled)
y_proba = clf.predict_proba(X_test_scaled)

acc = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)
f1score_ = f1_score(y_test, y_pred)
recall = recall_score(y_test, y_pred, average=None)
roc_auc = roc_auc_score(y_test, y_proba[:,1])
fpr, tpr, thresholds = roc_curve(y_test, y_proba[:,1])

print(acc)
print(roc_auc)
print(report)


# Matriz de confusion
confusion_matrix_ = sns.heatmap(data=cm, annot=True)
plt.show()

# ROC-AUC grafico
sns.lineplot(x=fpr, y=tpr, label=f"ROC curve (AUC = {roc_auc:.2f})")
sns.lineplot(x=[0,1], y=[0,1], color="red", linestyle="--")

plt.xlabel("False Positive Rate")
plt.ylabel("True Positive Rate")
plt.title("Curva ROC")
plt.legend()
plt.show()

#### Ahora guardamos el modelo en la carpeta de nuestra fast_api que subiremos a ec2

In [ ]:
save_model(clf, scaler)

## EC2 - Con Fast api

Nos hemos construido una instancia ec2 que utilizaremos como servidor, que corra nuestro codigo python y escuche peticiones a los endpoints.

Para ver la documentación en profundidad de la API:
- **https://ec2-34-244-17-61.eu-west-1.compute.amazonaws.com:8000/docs**


![Alt](./img/ec2.png "Propiedades del EC2")

- ### /predict:
    - Con la IA clasificadora que hemos entrenado espera datos de pelicula para predecir si tendrán exito. Nos devuelve una lista que representa la columna a predecir de los datos enviados. Ec2 necesita el fichero del modelo compilado para esto

- ### /ask-text
    - Paso 1: Le pasamos una pregunta en lenguaje natural como parámetro, con la libreria __google-genai__ usamos gemini para generarnos una sentencia SQL a partir de la pregunta
    - Paso 2: Ejecutaremos con la lambda __send_quey__ que se conectará con __pycopg2__ a nuestra rds devolviendo la informacion de la sentencia.
    - Paso 3: Le pasamos a gemini otra vez la información de la ejecucion de la query, para que transforme los datos a una explicación en lenguaje natural.

- ### /ask-visual
    - Paso 1: Mismo que en **/ask_text** pero tiene un parametro extra "format" que indica como queremos ver el resultado:
        * **format = "code"**: el endooint entiende que estamos realizando la request desde código y nos devuelve codigo python para ejecutar y ver las graficas.
        * **format = html**: pensado para cunado hacemos la peticion a través del navegador, mostrando la grafica en el propio navegador en codigo html
    - Paso 2: Mismo que en **/ask_text**
    - Paso 3: Se le pide por ultimo a gemini otra vez que desde los datos mostrados por la query en nuestro RDS. Generara codigo python que guardará en un archivo, si format = code este codigo será el resultado del endpoint, pero si format = html, este codigo guardado en un archivo temporal en ec2 será ejecutado, y generará una imagen que con una funcion envoltorio prepararemos y mostraremos con html

>NOTA: Para ver en profundid el codigo de la nuestra api revisar la carpeta fast_api, esa carpeta se sube a ec2 con el comando 
```bash
# Subir carpeta local 'mi_carpeta' a /home/ec2-user/ en la instancia
scp -i /ruta/a/tu/key.pem -r ./mi_carpeta ec2-user@EC2_PUBLIC_IP:/home/ec2-user/

```